body{background-image:url(../images/bg-body.jpg);background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:10px}
.main {width: 1000px}
#post-sidebar img{width: 100%;}
#post-sidebar{background-color: #f8f8f8;margin:10px 0 15px;padding:5px}
#post-sidebar .ul-list li{padding:5px;border-bottom: 1px solid #eee;}
#post-sidebar a{color:#686868}
.p-list:hover{background-color: #f8f8f8}
#s-tj li{white-space: normal;margin-top: 1px}
#ajax-sc{margin-top:-7px}
#op-md-d{padding:0px}
.absolute-r-b-1{position:absolute;right:1px;bottom:1px}
.table .view,.table .update,.table .delete{margin-left:12px}
.qaptcha .clr{clear:both}
.qaptcha .bgslider{width:100px;height:22px;background:transparent url('/static/images/sprites.png') no-repeat 0 -22px;float:left}
.qaptcha .slider{width:21px;height:21px;background:transparent url('/static/images/sprites.png') no-repeat 0 0;margin:0 0 0 5px;cursor:e-resize}
.qaptcha .icons{display:none}
.qaptcha .txtstatus{float:left;margin:-2px 0 0 8px}
.txtstatus{animation:fade-in;animation-duration:1.0s;-webkit-animation:fade-in 1.0s}
.dw_left{position:fixed;left:10px;z-index:9}
.search_code{position:absolute;z-index:1;right:5px}
.width-78{width:78%}
.width-85{width:85%}
.width-97{width:97%}
.th_center th{text-align:center}
.th-right th{text-align:right}
.z-index-999{z-index:999}
.b-bg{background-image:url(../images/bg-body.jpg)}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%;height:22px}
div,img{border-radius:3px}
.div_b_r_0,.div_b_r_0 div{border-radius:0px}
.row_m{margin-left:0px;margin-right:0px}
.display_none{display:none}
.display_ib{display:inline-block}
a{color:#555;border-radius:2px}
.cursor_p{cursor:pointer}
.color-b{color:#399539}
.color-h{color:#7a7d91}
.color-5{color:#555}
.color-2b{color:#2b2b2b}
.opacity-85{opacity:0.85}
.font-s-14{font-size:14px}
.f-s-16{font-size:16px}
.font-s-17{font-size:17px}
.font-s-18{font-size:18px}
.width-80{width:80px}
.width-120{width:120px}
.width-132{width:132px}
.width-134{width:134px}
.width-152{width:152px}
.width-163{width:163px}
.width-185{width:185px}
.width-188{width:188px}
.width-666{width:666px}
.width-858{width:858px}
.overflow-300{height:300px;overflow:auto}
.overflow-550{height:550px;overflow:auto}
.overflow-680{height:680px;overflow:auto}
.g-bg{color:#5cb85c}
.g-bg-red{color:red}
.g-bg-info{color:#5bc0de}
.float-f{float:left}
.float-r{float:right}
img{border-radius:3px;max-width:100%}
div.miaoshu{border:1px solid #dcdddd;background-color:#f6fafd;font-size:12px;padding:10px;margin-bottom:10px;box-shadow:0 1px 2px rgba(0,0,0,0.08) !important}
.panel,.list-group,.thumbnail{margin-bottom:10px}
.breadcrumbs{color:#a0a0a0;float:left}
.color-a{color:#a0a0a0}
.padding-0{padding:0px !important}
.padding-2{padding:2px}
.padding-5{padding:5px !important}
.padding-10{padding:10px}
.padding-t-2{padding-top:2px}
.padding-t-5{padding-top:5px}
.padding-t-b-5{padding-top:5px;padding-bottom:5px}
.padding-t-10{padding-top:10px}
.padding-t-40{padding-top:40px}
.padding-t-50{padding-top:50px}
.padding-b-2{padding-bottom:2px}
.padding-b-5{padding-bottom:5px}
.padding-b-10{padding-bottom:10px}
.padding-l-2{padding-left:2px}
.padding-l-5{padding-left:5px}
.padding-l-10{padding-left:10px}
.padding-r-2{padding-right:2px}
.padding-r-5{padding-right:5px}
.padding-r-10{padding-right:10px}
.padding-r-60{padding-right:60px}
.padding-r-65{padding-right:65px}
.padding-r-76{padding-right:76px}
.margin-2{margin:2px}
.margin-5{margin:5px}
.margin-10{margin:10px}
.margin-16{margin:16px 0}
.margin_t_1{margin-top:-1px !important}
.margin-t-2{margin-top:2px}
.margin-t-f-4{margin-top:-4px}
.margin-t-5{margin-top:5px}
.margin-t-10{margin-top:10px}
.margin-t-11{margin-top:11px}
.margin-top-15{margin-top:15px}
.margin_t_7{margin-top:-7px}
.margin_t_15{margin-top:-15px}
.margin_t_21{margin-top:-21px}
.margin_t_35{margin-top:-35px}
.margin_t_475{margin-top:-475px}
.margin_t_40{margin-top:-40px}
.margin-t-15{margin-top:15px}
.margin-b-2{margin-bottom:2px}
.margin-b-5{margin-bottom:5px}
.margin-b-10{margin-bottom:10px}
.margin-b_300{margin-bottom:-300px}
.margin-l_1{margin-left:-1px}
.margin-l-2{margin-left:2px}
.margin-l-5{margin-left:5px}
.margin-l-10{margin-left:10px}
.margin-r-2{margin-right:2px}
.margin-r-5{margin-right:5px}
.margin-l-r-5{margin-left:5px;margin-right:5px}
.margin-r-10{margin-right:10px}
.margin-r-15{margin-right:15px}
.img-h-390{height:390px !important}
.img-h-339{height:339px !important}
.img-h-300{height:300px !important}
.img-h-250{height:250px !important}
.img-h-247{height:247px !important}
.img-h-188{height:188px !important}
.img-h-150{height:150px !important}
.img-h-120{height:120px !important}
.img-h-110{height:110px !important}
.img-h-80{height:80px}
.img-h-50{height:50px}
.img-h-40{height:40px}
.p-l-img{ height: 100px;width: 165px}
.clear-b{clear:both}
.m-bg{background:white;border:1px solid #e0e0e0;box-shadow:0 0 2px #ddd;word-wrap:break-word;margin:10px 0 0;padding:10px}
.m-bg-b{border:1px solid #e0e0e0;box-shadow:0 0 2px #ddd;word-wrap:break-word;margin:10px 0 0;padding:10px}
.m-bg-c{border:1px solid #e0e0e0;background-color:#f8f8f8;word-wrap:break-word;margin:10px 0 5px;padding:10px}
.m-bg-d{border-bottom:1px solid #e0e0e0;font-size:12pt;font-weight:bold;margin:20px 0 5px;padding-bottom:5px}
.b-img{background:#fafafa url(../images/cream.png) repeat scroll 0 0}
.im-text-left{text-align:left !important}
.border-solid{border:1px solid #ddd}
.border-solid-b{border-bottom:1px solid #eee}
.border-solid-t{border-top:1px solid #eee}
.border-solid-r{border-right:1px solid #eee}
.border-solid-l{border-left:1px solid #eee}
.border-dotted-b{border-bottom:1px dotted #eee}
.border-dotted-t{border-top:1px dotted #eee}
.top_scroll{display:none;width:40px;height:73px;background:#5cb85c;color:#fff;line-height:40px;position:fixed;right:20px;bottom:18px;cursor:pointer;font-size:18px}
.top_scroll #_top,.top_scroll #_bottom{padding-left:10px}
.top_scroll:hover{background:#398439}
.tab-nav .thumbnail:hover img{padding:2px}
.thumbnail:hover{background:#f8f8f8}
.item-h:hover{background-color:#f8f8f8}
.overflow-800{height:800px;overflow-x:hidden;overflow-y:auto}
.f-s-12{font-size:12px}
.f-s-13{font-size:13px}
.d-h-40{height:40px}
.d-h-60{height:60px}
.d-h-80{height:80px}
.d-h-100{height:100px}
.d-h-120{height:120px}
.width-100{width:100px}
.text-align-r{text-align:right}
.li_bg{background-color:#dff6df}
.b-color-f{background-color:#fafafa}
.f-c-666{color:#666}
.b-t-r:first-child{border-top-left-radius:1px !important;border-top-right-radius:1px !important}
.m-bg a{color:#399539}
.color-f{color:#fff !important}
.margin-t-f-1{margin-top:-1px !important}
.d-block{display:block}
.table-w-20 tbody tr th{width:20%}
.table-bordered tbody tr td:first-child,.table-bordered tbody tr th:first-child,.table-bordered tfoot tr td:first-child,.table-bordered tfoot tr th:first-child,.table-bordered thead tr td:first-child,.table-bordered thead tr th:first-child{border-left:0 none}
.table-bordered tbody tr td:last-child,.table-bordered tbody tr th:last-child,.table-bordered tfoot tr td:last-child,.table-bordered tfoot tr th:last-child,.table-bordered thead tr td:last-child,.table-bordered thead tr th:last-child{border-right:0 none}
.grid-view-rounded .table-bordered{border:0px solid #ddd}
#accordion .list-group a{display:block}
.navbar-nav > li > a{padding:15px 8px}
a.thumbnail:hover,.thumbnail:hover,.border_h:hover{text-decoration:none;border-color:#5cb85c}
.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-8,.col-md-9,.col-md-10,.col-md-12{padding-left:5px;padding-right:5px}
.navbar-default{background-image:linear-gradient(to bottom,#fff 0px,#f8f8f8 100%);background-repeat:repeat-x;border-radius:4px;box-shadow:0 1px 0 rgba(255,255,255,0.15) inset,0 1px 5px rgba(0,0,0,0.075)}
.btn{border-radius:3px;text-indent:0px;}
a.btn-success,a.btn-info{color:white}
.badge{color:#fff;background-color:#5cb85c}
.bg-red{color:#fff;background-color:red}
.badge_old{background-color:#969696;border-radius:10px;color:#fff;display:inline-block;font-size:12px;font-weight:bold;line-height:1;min-width:10px;padding:3px 7px;text-align:center;vertical-align:middle;white-space:nowrap;float:right}
.breadcrumb{background-color:#fafafa;margin-bottom:0px;border-radius:20px;border:1px solid #e0e0e0;-webkit-box-shadow:0 0 2px #ddd;-moz-box-shadow:0 0 2px #ddd;box-shadow:0 0 2px #ddd}
.navbar-default .navbar-nav>.active>a{color:white;background-color:#5cb85c}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#000000;background-color:#5cb85c}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-nav>li>a:hover span,.navbar-nav>.open>a>span{color:white;background-color:#5cb85c}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:#5cb85c;border-color:#5cb85c}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#5cb85c;border-color:#5cb85c}
.nav>li>a:hover,.nav>li>a:focus{color:white;border-color:#5cb85c;background-color:#5cb85c}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{color:white;background-color:#5cb85c}
.form-horizontal .form-group{margin-left:0px;margin-right:0px}
.pagination>li>a,.pagination>li>span{color:#5cb85c;margin-top:2px}
.pagination>.active>a,.pagination>.active>a:hover{background-color:#5cb85c;border-color:#5cb85c}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{z-index:3;color:#fff;background-color:#5cb85c;border-color:#5cb85c}
.pagination{margin:2px 0}
.panel-default>.panel-heading{background-color:#f8f8f8}
h1,h2{font-size:25px}
h1,.h1,h2,.h2,h3,.h3{margin-bottom:10px;margin-top:10px}
.panel{box-shadow:0 0 1px #ddd}
.panel-group .panel{border-radius:2px}
.navbar-default .navbar-brand{color:#5cb85c}
.carousel-indicators .active{background-color:#5cb85c}
.carousel-indicators li{border:1px solid #5cb85c}
.navbar-default .navbar-nav>li>a{color:#555}
.pager{margin:10px 0}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background-color:#5cb85c;border-color:#5cb85c;color:#fff}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-bottom-width:1px}
a:hover,#post-sidebar a:hover{color:#5cb85c;text-decoration:none}
.box_s_0{box-shadow:none}
.margin-t-b-2{margin:2px 0px 2px 0px}
.margin-t-b-5{margin:5px 0px 5px 0px}
.padding-none{padding-left:0px;padding-right:0px}
.line-h-50{height:50px;line-height:50px}
span.required{color:red}
.errorMessage{margin-bottom:0px;padding:5px}
#book-fh{bottom:12px;position:fixed;right:23px;z-index:9}
.bk{position:relative}
.bk-shu{color:white;font-family:"STKaiti",åŽæ–‡æ¥·ä½“;font-size:16px;font-weight:900;padding:5px;left:15px;position:absolute;text-align:center;width:83%}
.bk-750{top:25px}
.bk-751{top:72px}
.bk-752{top:116px}
.bk-753{top:138px}
.bk-754{color:#8b4c36;top:100px}
.bk-755{color:peru;top:35px}
.bk-756{left:15px;top:23px}
.bk-757{top:115px}
.comment-row:hover .display_none,.msg-row:hover .display_none{display:inline}
.checkbox-column{text-align:center}
.active-b{border-bottom:2px solid #5cb85c;margin-bottom:-2px}
blockquote{background:#f6f6f6;border-left:4px solid #5cb85c;font-size: 15.5px;border-radius:2px;margin:10px 0;padding:10px 15px}
.s-select{width:50%;margin:-34px 16px 0 0;float:right}
.s-result{width:50%;position:absolute;z-index:1}
.bsIE,.bsFirefox,.bsEdge,.bsChrome,.bsSafari,.bsOpera{background-repeat:no-repeat;background-position:center center}
.bsIE{background-image:url("../images/compatible_ie.gif")}
.bsFirefox{background-image:url("../images/compatible_firefox.gif")}
.bsEdge{background-image:url("../images/compatible_edge.gif")}
.bsChrome{background-image:url("../images/compatible_chrome.gif")}
.bsSafari{background-image:url("../images/compatible_safari.gif")}
.bsOpera{background-image:url("../images/compatible_opera.gif")}
#post-content h1,#post-content h2,#post-content h3{font-weight:600}
#post-content h2{font-size:23px}
#post-content h3{font-size:18px;}
#post-content h4{padding:5px;border-left:3px solid #5cb85c;color:#444;font-size:15px;font-weight:600;}
#post-content > p,#post-content div > p{line-height: 22px;text-indent:10px;}
#book-title{background-color:#fcfcfc}
.sctree div,.ul-list li,.ml-index li,.a-w{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.sctree ol,.sctree ul{list-style:none}
.sctree-default i,.sctree-default a,.sctree-default span{height:22px;line-height:22px;vertical-align:top;cursor:pointer}
.sctree-default i{width:20px;background-image:url(../images/tree.png);display:inline-block}
.sctree-default div{height:22px;}
.sctree-default li > ul{padding-left:20px}
.sctree-default li.closed > ul{display:none}
.sctree-default li .tree-icon-item{background-position:-60px -20px}
.sctree-default li.closed > div .tree-icon-item{background-position:-80px -20px}
.sctree-default li > div:only-child .tree-icon-item{background-position:-100px -20px}
.sctree-default li.active > div a,.sctree-default a:hover,.ml-index a:hover,.ml-index li.active a{color:#4cae4c;font-weight:600;padding:2px}
.sctree-default a{color:#4b4b4b}
.sctree-default li .tree-icon-switch{background-position:-80px -60px}
.sctree-default li.closed > div .tree-icon-switch{background-position:-60px -60px}
.sctree-default .sctree-showline li > ul{background:url(../images/tree-line.png) repeat-y 0 0 transparent}
.sctree-default .sctree-showline li:last-child > ul{background:none}
.sctree-default .sctree-showline li .tree-icon-switch{background-position:-40px -20px}
.sctree-default .sctree-showline li.closed > div .tree-icon-switch{background-position:-20px -20px}
.sctree-default .sctree-showline > li:first-child > div .tree-icon-switch{background-position:-40px 0}
.sctree-default .sctree-showline > li.closed:first-child > div .tree-icon-switch{background-position:-20px 0}
.sctree-default .sctree-showline li:last-child > div .tree-icon-switch{background-position:-40px -40px}
.sctree-default .sctree-showline li.closed:last-child > div .tree-icon-switch{background-position:-20px -40px}
.sctree-default .sctree-showline > li:only-child > div .tree-icon-switch{background-position:-40px -60px}
.sctree-default .sctree-showline > li.closed:only-child > div .tree-icon-switch{background-position:-20px -60px}
.sctree-default .sctree-showline > li:first-child > div:only-child .tree-icon-switch{background-position:0 0}
.sctree-default .sctree-showline li > div:only-child .tree-icon-switch{background-position:0 -20px}
.sctree-default .sctree-showline li:last-child > div:only-child .tree-icon-switch{background-position:0 -40px}
.signatures > li,.signatures ul > li{background:#fafafa;list-style:outside none none;margin:0;padding:10px}
.signatures ul > li{border-bottom:1px solid #ddd}
#post-content .signatures h4{margin:-10px -10px 0;font-weight:600;padding:10px;border-bottom:1px solid #ddd}
.version-details{clear:right;color:#999;font-size:12px;float:right}
#tree-fh{position:absolute;bottom: 13px;right: 8px}
.ml{top:137px;display:none;width: 220px}
.ml-zj{top:104px}
.ml-fixed{position:fixed;right:11px;z-index:1}
.ml-top{padding-top:51px}
.ml-index li{list-style:none;padding:1px}
.ml-sub{padding-left:20px}
.ml-fixed-book{right:33px}
.ml-zj-book{top:80px}
.ml-book{top:112px}
.ml-index li.active a{color:#eb9f33}
@media ( max-width:1000px){.waterfall_column{width:97% !important}.main {width:100%}.img-h-80{height:100%}}