if hexo-config('preloader')
  @font-face {
    font-family: "iconfont"; /* Project id 3784380 */
    src: url('//at.alicdn.com/t/c/font_3784380_kc4cbj7voqm.woff2?t=1669036181909') format('woff2'),
        url('//at.alicdn.com/t/c/font_3784380_kc4cbj7voqm.woff?t=1669036181909') format('woff'),
        url('//at.alicdn.com/t/c/font_3784380_kc4cbj7voqm.ttf?t=1669036181909') format('truetype');
        font-display: swap;
  }



  .icon-apple-fill:before {
    content: "\e881";
    font-size: 150px;
  }

  .icon-jiazai:before {
    content: "\e617";
    font-size: 25px;
  }

  .loading-bg
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--anzhiyu-card-bg);
    z-index: 1001;
    opacity: 1;
    transition: .3s;

  #loading-box
    .loading-img
      margin: auto;
    .loading-image-dot
      margin: -40px auto;
      width: 25px;
      animation: avatar_turn_around 1s linear infinite;
    &.loaded
      .loading-bg
        opacity: 0;
        z-index: -1000;
        display: flex;
        flex-direction: column;

  @keyframes loadingAction
    0% {
        opacity: 1;
    }

    100% {
        opacity: .4;
    }
