//default color:
:root
  --recent-post-bgcolor: rgba(255, 255, 255, 0.9)
  --article-content-bgcolor: #49b1f5
  --recent-post-triangle: #fff
  --recent-post-cover-shadow: #ffffff
[data-theme="dark"]
  --recent-post-bgcolor: rgb(32 32 32)
  --article-content-bgcolor: #63637b
  --recent-post-triangle: #37e2dd
  --recent-post-cover-shadow: #232323
.recent-posts
  padding 0 15px 0 15px

  .recent-post-item
    margin-bottom 15px
    width 100%
    background var(--recent-post-bgcolor)
    overflow hidden
    border-radius 15px
    .recent-post-info
      .article-title-link
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden
    .article-content
      background var(--article-content-bgcolor)
      position relative
      display flex
      align-items: center;
      justify-content: center;
      .article-content-text
        transition: all .8s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 4
        text-overflow: ellipsis
        overflow hidden
        color #fff
        text-shadow: 1px 2px 3px #000;
    .recent-post-cover
      position relative
      background transparent
      img
        &.article-cover
          height 100%
          width 100%
          object-fit cover

    .recent-post-info
      align-items center
      flex-direction column
      position relative
      background var(--recent-post-bgcolor)
      display flex
      color #000000
      .article-title
        height 50%
        font-size 24px
        display: flex
        align-items: center
        justify-content: flex-end
        flex-direction: column
        .article-title-link
          color: var(--text-highlight-color)
          transition: all .2s ease-in-out
          &:hover
            color: $text-hover
      .recent-post-meta
        height 50%
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
      .article-meta-wrap
        font-size 12px
        color #969797
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        a
          color: var(--text-highlight-color)
          transition: all .2s ease-in-out
          color #969797
          &:hover
            color: $text-hover
    &.ads-wrap
      display: block !important
      height: auto !important
@media screen and (min-width:600px)
  .recent-post-item
    &:hover
      .recent-post-content
        &.both,
        &.right
          transform translateX(21%)
          transition: all .8s cubic-bezier(0.59, 0.01, 0.48, 1.17)
          &::before
            transition: all .8s cubic-bezier(0.59, 0.01, 0.48, 1.17)
            left: 50px;
          .article-content-text
            margin 20px 20px 20px 60px
        &.left
          transform translateX(-21%)
          transition: all .8s cubic-bezier(0.59, 0.01, 0.48, 1.17)
          &::before
            transition: all .8s cubic-bezier(0.59, 0.01, 0.48, 1.17)
            right: 50px;
          .article-content-text
            margin 20px 60px 20px 20px


    .recent-post-content
      background var(--recent-post-bgcolor)
      position relative
      height 240px
      width 130%
      z-index 0
      display flex
      overflow hidden
      border 0px solid
      &::before
        content: "";
        width: 0;
        height: 0;
        background: transparent;
        position: absolute;
        z-index: 3;
        top: calc(50% - 10px);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transition: all .5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
      &.both,
      &.right
        flex-direction: row;
        left calc(-30% - -8px)
        transition: all .5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        &::before
          left: calc(23.07% + 40px);
          border-left: 6px solid var(--recent-post-triangle);
        .recent-post-info
          &::before
            background linear-gradient(to right, var(--recent-post-cover-shadow), transparent)
            left calc(100% - 1px)
        .article-content
          &::before
            right -59px
            border-left 60px solid var(--article-content-bgcolor)
        .article-content-text
          margin 20px 20px 20px 0px
        .article-title
          padding 0px 30px 0px 70px
        .recent-post-meta
          padding 0px 20px 0px 70px
      &.left
        flex-direction: row-reverse;
        right 9px
        transition: all .5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        &::before
          right: calc(23.07% + 40px);
          border-right: 6px solid var(--recent-post-triangle);
        .recent-post-info
          &::before
            background linear-gradient(to left, var(--recent-post-cover-shadow), transparent)
            right calc(100% - 1px)
        .article-content
          &::before
            left -59px
            border-right 60px solid var(--article-content-bgcolor)
        .article-content-text
          margin 20px 0px 20px 20px
        .article-title
          padding 0px 70px 0px 30px
        .recent-post-meta
          padding 0px 70px 0px 20px

    .article-content
      width 37%
      height 240px
      left 0
      align-items center
      &::before
        content ""
        width 0
        height 0
        background transparent
        position absolute
        z-index 2
        top 0
        border-top 120px solid transparent
        border-bottom 120px solid transparent
    .recent-post-info
      width 80%
      height 240px
      &::before
        content ""
        width 200px
        height 240px
        position absolute
        z-index 1
        top 0
      .recent-post-meta
        & > .article-meta-wrap
          margin: 6px 0
          color: $theme-meta-color
          font-size: 90%

          & > .post-meta-date
            cursor: default

          .sticky
            color: $sticky-color

          i
            margin: 0 4px 0 0

          .article-meta-label
            if hexo-config('post_meta.page.label')
              padding-right: 4px
            else
              display: none

          .article-meta-separator
            margin: 0 6px

          .article-meta-link
            margin: 0 4px

          if hexo-config('post_meta.page.date_format') == 'relative'
            time
              display: none

          a
            color: $theme-meta-color

            &:hover
              color: $text-hover
              text-decoration: underline
    .recent-post-cover
      width 40%
      height 240px
@media screen and (max-width:600px)
  .recent-post-item
    height 400px
    .recent-post-content
      display flex
      flex-direction: column
      height 400px
      .article-content
        pointer-events none
        order: 1;
        height: 200px;
        position: absolute;
        width: calc(100% - 0px);
        z-index: 3;
        background: rgba(22,22,22,0.5);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: none
        opacity: 0
        .article-content-text
          height 120px
          color: white;
          width: 80%

      .recent-post-cover
        order: 2
        height 200px
        transition: all .5s
      .recent-post-info
        order: 3
        height 240px
        &::before
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          z-index: 3;
          bottom: calc(100% - 4px);
          left: 0;
          border-bottom: 50px solid var(--recent-post-bgcolor);
          border-right: 300px solid transparent;
        &::after
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          z-index: 3;
          bottom: calc(100% + 150px);
          right: 0;
          border-top: 50px solid var(--recent-post-bgcolor);
          border-left: 300px solid transparent;
        .article-title
          padding: 0px 35px 0px 35px
        .recent-post-meta
          padding: 0px 30px 0px 30px
    &:hover
      .article-content
        display: flex !important;
        animation: shutter-effect-content 0.5s 2 forwards linear
      .recent-post-info
        &::before
          animation: shutter-effect-left 0.5s 1 ease-in-out
        &::after
          animation: shutter-effect-right 0.5s 1 ease-in-out
      .recent-post-cover
        filter blur(2px)
@keyframes shutter-effect-right  {
  0%{
    bottom: calc(100% + 150px);
    border-top: 50px solid var(--recent-post-bgcolor);
    border-left: 300px solid transparent;
  }
  50%{
    bottom: 100%;
    border-top: 200px solid var(--recent-post-bgcolor);
    border-left: 600px solid transparent;
  }
  100%{
    bottom: calc(100% + 150px);
    border-top: 50px solid var(--recent-post-bgcolor);
    border-left: 300px solid transparent;
  }
}
@keyframes shutter-effect-left  {
  0%{
    bottom: calc(100% - 4px);
    border-bottom: 50px solid var(--recent-post-bgcolor);
    border-right: 300px solid transparent;
  }
  50%{
    bottom: calc(100% - 4px);
    border-bottom: 200px solid var(--recent-post-bgcolor);
    border-right: 600px solid transparent;
  }
  100%{
    bottom: calc(100% - 4px);
    border-bottom: 50px solid var(--recent-post-bgcolor);
    border-right: 300px solid transparent;
  }
}
@keyframes shutter-effect-content {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}