#footer_deal
  a.deal_link(href="" title="mail")
    i.fa-solid.fa-envelope
  a.deal_link(href="" title="qq" target="_blank")
    i.fa-brands.fa-qq
  a.deal_link(href="" title="微博" target="_blank")
    i.fa-brands.fa-weibo
  a.deal_link(href="https://github.com/jayhrn" title="github"  target="_blank")
    i.fa-brands.fa-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='https://img.zhheo.com/i/2022/08/31/630ef3b505ef5.webp' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="" title="dribbble")
    i.fa-brands.fa-dribbble
  a.deal_link(href="" title="微信" target="_blank")
    i.fa-brands.fa-weixin
  a.deal_link(href="" title="抖音" target="_blank")
    i.fa-brands.fa-tiktok
  a.deal_link(href="" title="设置")
    i.fa-solid.fa-bars
#Jay-footer
  .footer-group
    h3.footer-title 直达
    .footer-links
      a.footer-item(href="https://www.4t.pw" target="_blank") 我的主页
      a.footer-item(href="/music") 音乐欣赏
      a.footer-item(href="/about") 关于我
      a.footer-item(onclick="toRandomPost()") 随机文章
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/css/") css笔记
      a.footer-item(href="/categories/魔改/") 魔改教程
      a.footer-item(href="/categories/辅助/") hexo工具
      a.footer-item(href="/categories/Docs文檔/") Docs文檔
  .footer-group
    h3.footer-title 关于
    .footer-links
      a.footer-item(href="/about/") 关于我
      a.footer-item(href="/charts/") 博客统计
      a.footer-item(href="/archives") 文章归档
      a.footer-item(href="/update") 更新记录
  .footer-group
    h3.footer-title 友链
    .footer-links#friend-links-in-footer
      a.footer-item(href="https://blog.zhheo.com/" target="_blank") 张洪Heo
      a.footer-item(href="https://anzhiy.cn/" target="_blank") 安知鱼
      a.footer-item(href="https://akilar.top/" target="_blank") Akilar
      a.footer-item(onclick="toRandomFlink()") 随机友情
  .footer-group
    h3.footer-title 协议
    .footer-links
      a.footer-item(href="/privacy/") 隐私协议
      a.footer-item(href="/cookies/") Cookie
      a.footer-item(href="/cc/") 版权协议
