.author-content
    .author-content-item.touying
        #carousel.carousel.auto-play
          ul.slides
            li#slide-1.slide
              img(src='https://i.loli.net/2019/11/16/cqyJiYlRwnTeHmj.jpg' alt='img1')
            li#slide-2.slide
              img(src='https://i.loli.net/2019/10/18/Ujf6n75o8TtIsWX.jpg' alt='img2')
            li#slide-3.slide
              img(src='https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg' alt='img3')
            li#slide-4.slide
              img(src='https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg' alt='img4')
            li#slide-5.slide
              img(src='https://i.loli.net/2019/11/03/RtVq2wxQYySDb8L.jpg' alt='img5')
            li#slide-6.slide
              img(src='https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg' alt='img6')
          ul.nav-dots
            li.dot
              a(href='#slide-1')
            li.dot
              a(href='#slide-2')
            li.dot
              a(href='#slide-3')
            li.dot
              a(href='#slide-4')
            li.dot
              a(href='#slide-5')
            li.dot
              a(href='#slide-6')
          ul.nav-arrows
            li.arrow-left
            li.arrow-right
    .div-card2.touying
      i.notice-logo2.fas.fa-bullhorn.fa-shake
      span=' '+_p('推荐文章')
      .news
        if site.data.notice
            each i in site.data.notice
              li.new.fa-fw.fa.fa-link
                a(href=i.url title=i.msg style!=i.color)!=i.msg
                span!=i.date
script(src='/js/indexhdp.js')