.categoryItem(style='box-shadow: var(--heo-shadow-blue);')
    a.categoryButton.bikan(href='/posts/c6050a1d/', data-pjax-state)
        span.categoryButtonText 魔改锦囊
        i.fas.fa-dove
.categoryItem(style='box-shadow: var(--heo-shadow-red);')
    a.categoryButton.remen(href='/tags/魔改/', data-pjax-state)
        span.categoryButtonText 热门魔改
        i.fas.fa-burn
.categoryItem(style='box-shadow: var(--heo-shadow-green);')
    a.categoryButton.shiyong.touying(href='/tags/教程/', data-pjax-state)
        span.categoryButtonText 实用教程
        i.fas.fa-book