.about-statistic.author-content-item2
  .card-content
    .lightning
      .lightning1
        img(src='https://626c-blog-5gfbynhcfab334cd-1313949679.tcb.qcloud.la/tk-img/1667881749495-b8f676ae17424d1b9b6f143dd808e5b1.webp')
      .lightning2
        img(src='https://www.jiangweishan.com/demo/lightning2.png')
    span.author-content-item-title 文章归档  
    .banner-button-group
      a.banner-button(onclick='pjax.loadUrl("/archives/")', data-pjax-state)
        span.banner-button-text 文章隧道
link(rel='stylesheet', href='/css/mycss.css')