.about-statistic.author-content-item2
  .card-content
    span.author-content-item-title 文章归档  
    .banner-button-group
      a.banner-button(onclick='pjax.loadUrl("/archives/")', data-pjax-state)
        i.fas.fa-circle-arrow-up-right
        |
        span.banner-button-text 文章隧道
link(rel='stylesheet', href='/css/mycss.css')