.about-statistic.author-content-item2
  .card-content
    .lightning
      .lightning1
        img(src='https://drfs.ctcontents.com/file/14237530/755647870/e44191/img/index/swordsmen.webp')
      .lightning2
        img(src='https://www.jiangweishan.com/demo/lightning2.png')
    span.author-content-item-title 文章归档  
    .banner-button-group
      a.banner-button(onclick='pjax.loadUrl("/archives/")', data-pjax-state)
        span.banner-button-text 文章隧道
link(rel='stylesheet', href='/css/mycss.css')