- const { darkmode } = theme
nav#nav
  span#blog_name
    .back-home-button(tabindex='-1')
      i.back-home-button-icon.fas.fa-grip-vertical
      .back-menu-list-groups
        .back-menu-list-group
          .back-menu-list-title 网页
          .back-menu-list
            a.back-menu-item(href='https://blog.4t.pw/', title='主线路', target='_blank', one-link-mark='yes')
              img.back-menu-item-icon(src='https://s2.loli.net/2022/11/16/GcgMjo5lNUfbrFW.webp')
              span.back-menu-item-text 主线路
            a.back-menu-item(href='https://blog1.4t.pw/', rel='external nofollow', title='备用线路', target='_blank', one-link-mark='yes')
              img.back-menu-item-icon(src='https://s2.loli.net/2022/11/16/XxmYTFzsacq9EbL.webp')
              span.back-menu-item-text 备用线路
        .back-menu-list-group
          .back-menu-list-title 怕冷爱上雪
          .back-menu-list
            a.back-menu-item(href='https://4t.pw', title='怕冷爱上雪', target='_blank', rel='noopener nofollow', one-link-mark='yes')
              img.back-menu-item-icon(src='https://s2.loli.net/2022/11/12/YBMzJhbXEPprU87.webp')
              span.back-menu-item-text 怕冷爱上雪

    a#site-name(href=url_for('/'))
      .title #[=config.title]
      i.fa-solid.fa-house

  div.mask-name-container
    center(id="name-container")
      a(id="page-name" href="javascript:btf.scrollToDest(0,500)") PAGE_NAME

  #menus
    if (theme.algolia_search.enable || theme.local_search.enable)
      div.nav-button#search-button
        a.site-page.social-icon.search
          i.fas.fa-search.fa-fw
          span=' '+_p('search.title')

    if darkmode.enable && darkmode.button
      div.nav-button#darkmode_navswitch
        a.darkmode_switchbutton(type="button" title=_p('rightside.night_mode_title') onclick="switchNightMode()")
          i.fas.fa-adjust

    if darkmode.enable && darkmode.button
      div.nav-button#modeicon
        a.darkmode_switchbutton(type="button" title=_p('切换壁纸') onclick="toggleWinbox()")
          i.fa-solid.fa-image

    div.nav-button#nav-totop
      a.totopbtn
        i.fas.fa-arrow-up
        span#percent(onclick="btf.scrollToDest(0,500)") 0


    !=partial('includes/header/menu_item', {}, {cache: true})

    #toggle-menu
      a.site-page
        i.fas.fa-bars.fa-fw

