@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 网站标题、副标题闪光 */
#page-header #site-title,
#page-header #site-subtitle {
  
}
#page-header #site-title:hover,
#page-header #site-subtitle:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 20px,
    rgb(255, 255, 255) 0px 0px 30px, rgb(0, 255, 255) 0px 0px 40px,
    rgb(0, 255, 255) 0px 0px 70px, rgb(0, 255, 255) 0px 0px 80px,
    rgb(0, 255, 255) 0px 0px 100px;
}

/*移动端优化：去除归档、标签、最新文章、公告、评论、只保留网站统计*/
@media screen and (max-width: 900px) {
  .user-map,
  .ads-wrap,
  .card-announcement,
  .card-recent-post,
  #card-newest-comments,
  .card-categories,
  .card-tags,
  .aside-content,
  .card-webinfo,
  .container.recent-post-item,
  .card-archives,
  .ggl,
  .item-headline {
    display: none;
  }
}
/*彩虹文字*/
#page-header #site-title,
#post-info .post-title {
  padding-top: 3px;
  background-image: linear-gradient(
    to left,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbowan 60s linear infinite;
  animation: rainbowan 60s linear infinite;
}
@-webkit-keyframes rainbowan {
  to {
    background-position: -2000vw;
  }
}
@keyframes rainbowan {
  to {
    background-position: -2000vw;
  }
}
/* 背景切换*/
/* 由于全屏会出bug，所以直接给他隐藏 */
.wb-header {
  background: rgba(0, 206, 242, 0.68);
}
.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
    border: none;
    background: transparent;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

#color::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: '自定义颜色';
} */

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 老用户如果不再使用页面版可删除下面代码 */
    /* #color {
        width: 141px;
        height: 83px;
        margin: 7px;
    }
    #color::before {
        left: 33px;
        top: 33px;
    }     */

    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}
   /* ggl */
.ggl-logo {
    line-height: 22px;
    margin-right: 8px;
    transition: 0.3s;
    color: #ff0000;
    font-size: 1.45em
  }
  #ggl {
    width: 75.5%;
    background-color: rgba(255, 255, 255, 0.86);
    color: var(--font-color);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: -20px;
    box-shadow: 0px 0px 4px 3px rgb(0 107 255 / 34%);
  }
.xianzhi {
    width:100%
}
  [data-theme="dark"] #ggl {
    background: rgba(0, 0, 0, 0.6) !important;
}

