/* 版权彩色滚动 */						
@keyframes gradientBG {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

/* 网站标题、副标题闪光 */									
#page-header #site-title,
#page-header #site-subtitle {}


#page-header #site-title:hover,
#page-header #site-subtitle:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 20px, rgb(255, 255, 255) 0px 0px 30px, rgb(0, 255, 255) 0px 0px 40px, rgb(0, 255, 255) 0px 0px 70px, rgb(0, 255, 255) 0px 0px 80px, rgb(0, 255, 255) 0px 0px 100px
                               
                               
               
}

/*移动端优化：去除归档、标签、最新文章、公告、评论、只保留网站统计*/																   
@media screen and (max-width:900px) {

  .user-map,
  .ads-wrap,
  .card-announcement,
  .card-recent-post,
  #card-newest-comments,
  .card-categories,
  .card-tags,
  .aside-content,
  .card-webinfo,
  .container.recent-post-item,
  .author-content,
  .touying,
  .ggl,
  .item-headline {
      display: none
  }
}
/*彩虹文字*/
#page-header #site-title,
#post-info .post-title {
  padding-top: 3px;
  background-image: linear-gradient(to left, orangered, orange, gold, lightgreen, cyan, dodgerblue, mediumpurple, hotpink, orangered);
    
    
   
   
     
   
     
       
    
     

  background-size: 110vw;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbowan 60s linear infinite;
  animation: rainbowan 60s linear infinite
}

@-webkit-keyframes rainbowan {
  to {
      background-position: -2000vw
  }
}

@keyframes rainbowan {
  to {
      background-position: -2000vw
  }
}

/* 背景切换*/
/* 由于全屏会出bug，所以直接给他隐藏 */										  
.wb-header {
  background: rgba(0, 206, 242, 0.68)
}

.winbox {
  border-radius: 12px;
  overflow: hidden
}

.wb-full {
  display: none
}

.wb-min {
  background-position: center
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
  background: #333 !important
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden
}

.pimgbox {
  height: 240px
}

.imgbox {
  height: 95px
}

.box {
  height: 100px
}

@media screen and (max-width:768px) {
/* 背景 */
                  
      
  .pimgbox,
  .imgbox,
  .box {
      height: 73px;
      width: 135px
 
    
        
  }

  .pimgbox {
      height: 205px
  }
/* 2.0新增内容 */   
  .wb-min {
      display: none
  }

  #changeBgBox .wb-body::-webkit-scrollbar {
      display: none
  }
}
/* 公告栏 */
.ggl-logo {
  line-height: 22px;
  margin-right: 8px;
  transition: 0.3s;
  color: #ff0000;
  font-size: 1.45em
}

#ggl {
  width: 88%;
  background-color: rgba(255, 255, 255, 0.86);
  color: var(--font-color);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -20px;
  box-shadow: 0px 0px 4px 3px rgb(0 107 255 / 34%)
}

.xianzhi {
  width: 100%
}

[data-theme="dark"] #ggl {
  background: rgba(0, 0, 0, 0.6) !important
}

/* 归档动画 */				  
.container {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center
}

.div-card {
  width: 56%;
  height: 340px;
  position: relative;
  border-radius: 10px;
  background: #1672af linear-gradient(to right, rgba(0, 255, 0, 0), rgb(29 34 70 / 48%));
  overflow: hidden;
  border: var(--heo-card-btn-bg) 12px solid;
  transition: background-color .5s
}

.div-name {
  width: 200px;
  color: #fff;
  font: 900 40px '';
  position: absolute;
  top: 40px;
  left: 30px;
  transition: 1s .1s;
  text-shadow: 2px 2px 3px #000, 1px 1px 0 #000, 4px 6px 9px #001d3bc7
}

.div-wechat {
  width: 200px;
  color: lightsalmon;
  font: 900 25px '';
  position: absolute;
  top: 105px;
  left: 30px;
  transition: 1s .1s;
  opacity: 0
}

.div-description {
  width: 200px;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 115px;
  left: 35px;
  transition: 1s .1s
}

.div-card:hover {
  background-color: rgb(12, 156, 163)
}

.div-bar-type {
	width: calc(200px + var(--w)*70px);
	height: 50px;
	background-color: cornsilk;
	position: absolute;
	transform: rotateZ(145deg) translate(calc(-300px + var(--i)*15px), calc(var(--i)*-50px - 90px));
	border-radius: 25px;
	transition: 1s calc(var(--i)*0.1s);
}

.div-bar-type:nth-child(8) {
  background-color: lightsalmon
}

.div-bar-type:nth-child(7) {
  background-color: lightseagreen
}

.div-bar-type:nth-child(6) {
  background-color: lightpink
}

.div-bar-type:nth-child(5) {
  background-color: lightcyan
}

.div-card:hover .div-bar-type {
  transform: rotateZ(145deg) translate(calc(-600px + var(--i)*15px), calc(var(--i)*-50px - 90px))
}

.div-card:hover .div-name {
  left: 330px
}

.div-card:hover .div-wechat {
  left: 330px;
  opacity: 1
}

.div-card:hover .div-description {
  left: 335px;
  top: 150px
}

.f {
  width: 230px;
  height: 230px;
  background-image: url('/img/1.webp');
  background-size: cover;
  font: 900 15px '';
  text-align: center;
  margin: 40px;
  border: 2px solid #00b7cb;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 85%);
  border-radius: 10px;
  opacity: 0;
  transition: .7s .3s;
  color: rgb(0, 187, 255);
  text-shadow: 2px 2px 3px #000, 1px 1px 0 #000, 1px -1px 0 #005dbc, -1px -1px 0 #0077ad
}

.div-card:hover .f {
  opacity: 1
}

.recent-post-item {
  box-shadow: 0px 0px 4px 2px rgb(0 107 255 / 57%)
}

.recent-post-item:hover {

  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-shadow: 0px 0px 4px 3px rgba(105, 47, 241, 0.89)
}
/* 阿里图标大小 */
@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.woff2?t=1667842809479') format('woff2'), url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.woff?t=1667842809479') format('woff'), url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.ttf?t=1667842809479') format('truetype')
   
                                                          
                                                         
                                                           
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-liulanqi1:before {
  content: "\e610"
}

.icon-email:before {
  content: "\e60b"
}

.icon-QQ:before {
  content: "\e667"
}

.icon-weixin:before {
  content: "\e607"
}

.icon-douyin:before {
  content: "\e604"
}

/* 側邊欄個人信息卡片動態漸變色 */						
#aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
     
    
    
    
    
     

  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 4s ease infinite;
  -moz-animation: Gradient 4s ease infinite;
  animation: Gradient 4s ease infinite !important;
  border-radius: 40px;
  border: #000 9px solid;
  padding: 0 14px 8px;
  height: 550px
}

#aside-content .card-info .card-info-social-icons {
  margin: 6px 0 -6px;
  position: relative;
  background-color: #00000026;
  border-radius: 12px;
  margin-bottom: 10px
}

#aside-content .card-info .card-info-data {
  margin: 14px 0 11px
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

/* 個人信息Follow me按鈕 */								 
#aside-content>.card-widget.card-info>#card-info-btn {
  border-radius: 8px;
  height: 135px;
  background-image: url(/img/xka.webp);
  background-position: 50% 50%;
  background-repeat: repeat;
  box-shadow: inset 3px 4px 3px 1px rgb(0 0 0 / 40%)
}

[data-theme="dark"] #aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg, #635c4f, #655956, #456162, #4e4e62, #5f4e5d);
     
    
    
    
    
     

  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important
}

[data-theme="dark"] .container {
  filter: brightness(70%)
}
/* 手机底部 */
.home-indicator {
  position: relative;
  width: 108px;
  margin: auto;
  height: 6px;
  background-color: var(--recent-post-bgcolor);
  border-radius: 3px
}
/* 手机顶部 */
.home-indicatordin {
  position: relative;
  width: 108px;
  margin: auto;
  height: 6px;
  background-color: var(--recent-post-bgcolor);
  border-radius: 3px
}

.fakaozuo {
  text-align: left
}

.status-bar {
  position: relative;
  display: flex;
  height: 20px;
  margin-bottom: 31px;
  justify-content: space-between;
  font-size: 1.2em
}

#camera {
  width: 18px;
  height: 18px;
  border: solid 7px #232323;
  border-radius: 50%;
  margin: 5px 10px 0px 15%;
  box-shadow: inset 1px 1px 2px 1px rgb(0 0 0 / 50%)
}

.xiayi {
  padding: 5px
}

.biaotou {
  border-radius: 12px;
  width: 76px;
  background-color: rgb(156 156 156 / 53%);
  transition: .3s;
  margin: 0 10px
}

.biaotou:hover {
  background-color: rgba(0, 0, 0, 0.411)
}
/* 修改标签栏 */
/* 归档、标签、分类页 */
               
.layout.hide-aside {
  max-width: 1200px
}

#archive,
#tag,
#category {
  background: var(--recent-post-bgcolor);
  padding: 25px 10px
}

.article-sort-title {
  margin-top: 30px;
  margin-bottom: 20px
}

.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
  content: none
}

.article-sort .year {
  width: 100% !important;
  border-bottom: dashed 5px #1688c9;
  font-size: 26px;
  margin-top: 20px
}

.article-sort {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
  padding: 0
}

.article-sort-item:not(.year) {
  padding: 8px 10px;
  width: calc(50% - 0.8rem);
  margin: 0.4rem;
  border: 2px solid #1688c9;
  border-radius: 15px;
  background: var(--card-bg);
  transition: 0.5s;
  height: 120px;
  box-shadow: 0px 0px 3px 2px rgb(0 31 40 / 53%);
  color: rgb(231, 231, 231)
}

.article-sort-item-a {
  position: absolute;
  width: 100%;
  height: 100%
}

.article-sort-item-img {
  transition: 0.5s;
  height: 90px;
  width: 140px
}

.article-sort-item>a>img {
  border-radius: 15px
}

.article-sort-item-title {
  font-size: 22px;
  padding-left: 10px;
  margin: 10px 0;
  line-height: 25px;
  text-overflow: ellipsis
}

.article-sort-item-title:hover {
  transform: none
}

.article-sort-meta {
  height: max-content;
  position: relative
}

.article-sort-meta>.article-meta-wrap {
  float: left
}

.article-sort-meta>.article-sort-item-time {
  float: right
}

.article-sort-item-categories,
.article-sort-item-tags {
  margin: 0 3px;
  padding: 5px 8px;
  border-radius: 25px;
  border: 1px solid var(--dark-grey);
  font-size: 12px;
  transition: 0.5s
}

.article-sort-item-info>div:not(.article-sort-meta) {
  display: flex
}

.article-sort-description,
.article-sort-item>i {
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s
}

.article-sort-description {
  width: 0;
  height: 59px;
  vertical-align: middle;
  margin: 5px 10px 0 15px;
  text-overflow: ellipsis
}

.article-sort-item:hover:not(.year) {
  background-color: #13a6ba;
  box-shadow: 0 0 10px #1688c9
}

.article-sort-item:hover:not(.year) {
  background-color: #13a6ba;
  box-shadow: 0 0 10px #1688c9
}

.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
  width: auto;
  opacity: 1
}

.article-sort-item:hover:not(.year) .article-sort-description {
  width: auto
}

.article-sort-item:hover:not(.year) .article-sort-item-img {
  transition: 0.5s;
  width: 0
}

.article-sort-item:hover:not(.year) .article-sort-item-title {
  color: var(--ichika-font-white) !important
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
  color: var(--ichika-light-grey) !important
}

.article-sort-item:hover:not(.year) .article-sort-item-categories {
  border: 1.5px solid var(--ichika-green)
}

.article-sort-item:hover:not(.year) .article-sort-item-tags {
  border: 1.5px solid var(--ichika-purple)
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
  background: var(--ichika-green);
  box-shadow: 0 0 5px var(--ichika-green)
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
  background: var(--ichika-purple);
  box-shadow: 0 0 5px var(--ichika-purple)
}

@media screen and (max-width:768px) {
  .article-sort-item:not(.year) {
      width: 100%
  }

  .article-sort-meta>.article-meta-wrap {
      display: none
  }

  .article-sort-item-title {
      font-size: 16px
  }

  .article-sort-item-img {
      width: 90px
  }
}
/* 设置文字内容 :qq显示的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧'
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧'
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗'
}

        
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
/* 先隐藏起来 */
display: none;
/* 绝对定位 */
position: absolute;
/* 向上移动60像素 */
top: -60px;
/* 文字强制不换行，防止left:50%导致的文字换行 */
white-space: nowrap;
/* 圆角 */
border-radius: 10px;
/* 距离左边50% */
left: 50%;
/* 然后再向左边挪动自身的一半，即可实现居中 */
transform: translate(-50%);
/* 填充 */
padding: 14px 18px;
background: #444;
color: #fff;
}


/* 小角标 */		   
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
/* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */										
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px)
}
/* 评论框 */
#twikoo .tk-content {
  background: rgb(235 235 235 / 60%);
  box-shadow: inset 0px 0px 3px 1px rgb(0 107 255 / 19%);
  padding: 10px 15px;
  border-radius: 10px
}

#twikoo .tk-content:hover {
  background: rgb(226 252 255 / 60%);
  box-shadow: inset 0px 0px 3px 1px rgb(0 107 255 / 47%);
  padding: 10px 15px;
  border-radius: 10px
}
  
  /* 文章目录 */
  #aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
  }
  
  [data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
  }
  
  #aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
  }
  
  #aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
  }
  
  #aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
  }
  
  #aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
  }
  
  #aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
  }
  
  /* 网页最大宽度 */
  .layout.hide-aside {
    max-width: 1400px;
  }
  euukqwpvkykdhage 邮件码
  /* 滚动条 */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--heo-scrollbar);
    border-radius: 8px;
    cursor: pointer;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: var(--heo-main);
    opacity: 1;
    display: block !important;
  }
  
  *::-webkit-scrollbar-track {
    background-color: var(--heo-none);
  }
  
  html {
    overflow-y: overlay;
  }

  
  /* 消息弹窗 */
  .snackbar-container {
    background: var(--heo-main) !important;
    color: var(--heo-white) !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center !important;
    max-width: none !important;
    min-width: 100% !important;
    margin: 0px !important;
    left: 0px !important;
    height: 60px !important;
    transform: none !important;
  }
  
  .snackbar-container p {
    font-weight: bold !important;
    text-align: center !important;
    font-size: 0.8rem !important;
    display: flex !important;
    justify-content: center !important;
  }
  
  .snackbar-container .action {
    color: var(--heo-white) !important;
    padding: 4px 6px !important;
    font-weight: bold;
    border-radius: 8px !important;
    transition: 0.3s;
    border: var(--style-border) !important;
  }
  
  .snackbar-container .action:hover {
    color: var(--heo-main) !important;
    background: var(--heo-white) !important;
  }
  
  .snackbar-container::after {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--heo-white);
    opacity: 0.1;
    content: "";
    animation: snackbar-progress var(--heo-snackbar-time) linear forwards;
    pointer-events: none;
  }
  
  @keyframes snackbar-progress {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }

  /* 搜索背景模糊 */
  #search-mask {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: var(--heo-maskbg);
  }
  
  /* 搜索输入框 */
  #algolia-search .search-dialog .ais-search-box input {
    border-radius: 8px !important;
    border: var(--style-border);
  }
  
  #algolia-search .search-dialog .ais-search-box input:focus {
    border: var(--style-border-hover);
  }
  
  
  #algolia-search .search-dialog .ais-search-box input::placeholder {
    opacity: 0.6;
  }
  
  #algolia-input-panel {
    margin-bottom: 8px;
  }
  
  /* 搜索窗口 */
  .search-dialog {
    border-radius: 12px !important;
    box-shadow: var(--heo-shadow-lightblack);
    background: var(--heo-card-bg);
    border: var(--style-border);
    transition: 0.3s;
  }
  
  .search-dialog:hover {
    border: var(--style-border-hover);
    box-shadow: var(--heo-shadow-theme);
  }
  
  .search-dialog__title {
    font-weight: bold;
    color: var(--heo-main);
  }
  
  #algolia-search .search-dialog .ais-hits--item.algolia-hit-item a:hover {
    color: var(--heo-hovertext);
  }
  
  #algolia-search .search-dialog .algolia-logo {
    display: none;
  }
  
  /* 搜索提示文字 */
  #algolia-tips {
    padding-top: 12px;
    color: var(--heo-secondtext);
    right: 0;
    margin: auto;
  }
  
  .algolia-tips-text {
    margin-left: 0.4rem;
  }
  
  /* 搜索结果间距 */
  #algolia-search-results {
    padding-top: 8px;
  }
  
  #algolia-search .search-dialog .ais-hits--item.algolia-hit-item:before {
    display: none;
  }
  
  #algolia-search .search-dialog .ais-hits--item.algolia-hit-item {
    padding-left: 0rem;
    font-weight: bold;
  }
  
  #algolia-search .search-dialog .ais-pagination.pagination {
    margin: 0.2rem 0 0;
  }
  
  #algolia-search .search-dialog .ais-hits--item.algolia-hit-item em {
    color: var(--heo-theme);
    font-style: normal;
  }
  
  /* 搜索框间距 */
  #algolia-search .search-dialog .ais-search-box {
    padding-top: 8px;
  }
  
  /* 搜索页码样式 */
  #algolia-search .search-dialog .ais-pagination.pagination .ais-pagination--item.current a {
    border-radius: 4px;
    background: var(--heo-main);
    color: var(--heo-white);
  }
  /* 搜索结果文字 */
  #algolia-search .search-dialog .ais-hits--item.algolia-hit-item a {
    color: var(--heo-fontcolor);
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
 
  /* 最新文章侧边栏悬浮 */
  #aside-content .aside-list>.aside-list-item {
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 12px;
    transition: 0.3s;
    margin: 4px 0;
    cursor: pointer;
  }
  
  @media screen and (min-width: 1300px) {
    #aside-content .aside-list>.aside-list-item:hover {
      transform: scale(1.03);
    }
  
    #aside-content .aside-list>.aside-list-item:active {
      transform: scale(0.97);
    }
  }
  
  #aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
    transform: scale(1);
  }
  
  #aside-content .aside-list>.aside-list-item:not(:last-child) {
    border-bottom: 0px dashed var(--heo-background) !important;
  }
  
  #aside-content .aside-list>.aside-list-item .thumbnail {
    -webkit-mask-image: -webkit-radial-gradient(center, rgb(255, 255, 255), rgb(0, 0, 0));
    border-radius: 8px;
    border: var(--style-border);
  }
  
  #aside-content .aside-list>.aside-list-item:hover {
    background: var(--heo-main);
    color: var(--heo-white);
    transition: 0.3s;
    box-shadow: var(--heo-shadow-main);
  }
  
  #aside-content .aside-list>.aside-list-item:hover a {
    color: var(--heo-white) !important;
  }

  /* 侧边栏按钮文字 */
  a.card-archive-list-link-more {
    color: var(--heo-white) !important;
    background: var(--heo-card-btn-bg);
    margin-top: 8px;
  }
  
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border);
  }
  
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
    width: auto;
  }
  
  #aside-content .card-archives ul.card-archive-list,
  #aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card-allinfo hr {
    display: flex;
    position: relative;
    margin: 1rem 0;
    border: 1px dashed var(--heo-theme-op);
  }
  
  .card-allinfo .item-headline {
    display: none;
  }
  
  span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.1rem;
    line-height: 0.9;
    font-weight: bold;
  }
  
  .card-archive-list-count-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
    width: fit-content;
    margin-left: 4px;
  }
  
  .card-archive-list-count-unit {
    width: auto;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
  }
  
  .card-archive-list-date {
    font-size: 14px;
    opacity: 0.6;
  }
  
  li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%;
  }
  
  .card-category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card-category-list-item {
    width: 45%;
  }
  
  .card-category-list-count {
    display: none !important;
  }
  
  .card-category-list-name {
    width: 100% !important;
    text-align: center;
  }

  /* 微信公众号 */
  #aside-content .card-widget#card-wechat {
    background: #45704d0d;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    height: 110px;
  }
  
  #aside-content .card-widget#card-wechat img {
    max-height: 110px;
    object-fit: cover;
  }
  
  .friend-link {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  /* 微信公众号翻转 */
  
  #flip-wrapper {
    position: relative;
    width: 235px;
    height: 110px;
    z-index: 1;
  }
  /* this need to be here - i dont know why?*/
  #flip-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  
  #flip-content {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
  }
  
  #flip-wrapper:hover #flip-content {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* background-color: #e71840; */
    background: url(https://s2.loli.net/2022/11/16/NThS2Y7fjuxtAXk.webp) center center no-repeat;
    background-size: 100%;
  }
  
  .back.face {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    /* background-color: #212121; */
    background: url(https://s2.loli.net/2022/11/16/QnUNS8rvAXgV5dq.webp) center center no-repeat;
    background-size: 100%;
  }

  /* 标签云卡片 */
  #aside-content .card-tag-cloud a {
    color: var(--heo-fontcolor) !important;
    font-size: 0.8rem;
    border-radius: 8px;
  }
  
  #aside-content .card-tag-cloud a:hover {
    background: var(--heo-theme);
    color: var(--heo-white) !important;
    box-shadow: var(--heo-shadow-theme);
  }
  
  #aside-content .card-tag-cloud a.tags-cloud-more {
    width: 100%;
    text-align: center;
    border-radius: 8px !important;
    border: var(--style-border);
    margin-top: 8px;
    font-size: var(--global-font-size) !important;
  }
  
  
  @media screen and (min-width: 1300px) {
    #aside-content .card-tag-cloud a:hover {
      transform: scale(1.03);
    }
  
    #aside-content .card-tag-cloud a:active {
      transform: scale(0.97);
    }
  }

  /* 时间轴卡片 */
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    color: var(--heo-white);
    background-color: var(--heo-theme);
    box-shadow: var(--heo-shadow-theme);
    border-radius: 8px;
    padding: 0.15rem 0.5rem;
    border: var(--style-border-hover);
  }
  
  
  @media screen and (min-width: 1300px) {
  
    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
      transform: scale(1.03);
    }
  
    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
      transform: scale(0.97);
    }
  }
  /* 主题宽度 */
.layout#content-inner  {
    max-width: 1400px;
}
#page:has(#about-page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

#page:has(#about-page) .page-title {
  display: none;
}

.page:has(#about-page) #footer-wrap {
  opacity: 1;
  overflow: visible;
  height: auto !important;
  min-height: 16px;
  color: #666;
}

.author-content-item {
  width: 49%;
  border-radius: 12px;
  background: var(--recent-post-bgcolor);
  border: var(--style-border-always);
  box-shadow: var(--recent-post-bgcolor);
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}
.author-content-item .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.author-content-item .card-content .author-content-item-title {
  margin-bottom: 0.5rem;
}
.author-content-item .author-content-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
.author-content-item .author-content-item-tips {
  opacity: 0.8;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .author-content-item {
    width: 100% !important;
    margin-top: 1rem;
    padding: 1rem;
  }
}

/* 赞赏的css */
:root {
  --loadingbar-background-color: #2c2b30;
  --loadingbar-prospect-color: #ece5d8;
}

/* html.dark body {
  background-color: #161d22;
} */

@supports not (filter: drop-shadow(0 0 0 #fff)) {
}

::selection {
  color: #fff;
  background: #2128bd;
}
.author-content-item.skills {

  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 42%;
  border: var(--recent-post-bgcolor) 12px solid;
}

.author-content-item.skills .skills-style-group {
  position: relative;
}

.author-content-item.skills .tags-group-all {
  display: flex;
  transform: rotate(0);
  transition: 0.3s;
  transform: rotate(-30deg);
}
.author-content-item.skills .tags-group-wrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  animation: rowup 30s linear infinite;
}
.tags-group-icon-pair {
  margin-left: 1rem;
}
.tags-group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 66px;
  font-weight: 700;
  box-shadow: var(--recent-post-bgcolor);
  width: 100px;
  height: 100px;
  border-radius: 30px;
}
.tags-group-icon img {
  width: 60%;
  margin: 0 auto !important;
}
.tags-group-icon-pair .tags-group-icon:nth-child(even) {
  margin-top: 1rem;
  transform: translate(-60px);
}
.author-content-item.skills .skills-list {
  display: flex;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
}
.author-content-item.skills .skill-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  background: var(--recent-post-bgcolor);
  border-radius: 40px;
  padding: 4px 8px 4px 8px;
  border: var(--style-border);
  box-shadow: var(--recent-post-bgcolor);
}
.author-content-item.skills .skill-icon {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.author-content-item.skills .skill-icon img {
  width: 18px;
  height: 18px;
  margin: 0 auto !important;
}
.author-content-item.skills .etc {
  margin-right: 10px;
  margin-top: 10px;
}

@keyframes rowup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.author-content-item.skills:hover .skills-style-group .tags-group-all {
  opacity: 0;
}
.author-content-item.skills:hover .skills-style-group .skills-list {
  opacity: 1;
}
.touying {
  box-shadow: 0px 0px 4px 3px rgba(40, 129, 255, 0.608);
}
.touying:hover {
  box-shadow: 0px 0px 4px 3px rgba(0, 106, 255, 0.695);
}
.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.author-content-item.skills .skills-list:hover {

  opacity: 100;
}
