/* 版权彩色滚动 */						
@keyframes gradientBG {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
/* 网站标题、副标题闪光 */									
#page-header #site-title:hover,
#page-header #site-subtitle:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 20px, rgb(255, 255, 255) 0px 0px 30px, rgb(0, 255, 255) 0px 0px 40px, rgb(0, 255, 255) 0px 0px 70px, rgb(0, 255, 255) 0px 0px 80px, rgb(0, 255, 255) 0px 0px 100px
}
/*移动端优化：去除归档、标签、最新文章、公告、评论、只保留网站统计*/																   
@media screen and (max-width:900px) {
  .videosy {
      display: none
  }
}
/*彩虹文字*/
#site-info h1,
#page-header #site-title {
  padding-top: 3px;
  background-image: linear-gradient(to left, orangered, orange, gold, lightgreen, cyan, dodgerblue, mediumpurple, hotpink, orangered);
  background-size: 110vw;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbowan 60s linear infinite;
  animation: rainbowan 60s linear infinite
}
@-webkit-keyframes rainbowan {
  to {
      background-position: -2000vw
  }
}
@keyframes rainbowan {
  to {
      background-position: -2000vw
  }
}
/* 顶部标签*/
#post-meta .post-meta__tags {
  display: inline-block;
  background: #ffffff33;
  margin: 0px 8px 0px 0px;
  padding: 2px 20px;
  width: fit-content;
  border-radius: 7px;
  color: #49b1f5;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#post-meta .post-meta__tags:hover {
  background: #49b1f5 !important;
  color: var(--white) !important;
  border-radius: 8px !important;
}
.post>#page-header {
  box-shadow: var(--plasx-anheiwz);
}
.tagsbq{
  display: inline-block;
  background: rgb(255 131 235 / 22%);
  margin: 0px 8px 0px 0px;
  padding: 0px 10px;
  width: fit-content;
  border-radius: 7px;
  color: #49b1f5;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tagsbq:hover {
  background: #49b1f5 !important;
  color: var(--white) !important;
  border-radius: 8px !important;
}
/* 背景切换*/
/* 由于全屏会出bug，所以直接给他隐藏 */										  
.wb-header {
  background: rgba(0, 206, 242, 0.68)
}
.winbox {
  border-radius: 12px;
  overflow: hidden
}
.wb-full {
  display: none
}
.wb-min {
  background-position: center
}
[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
  background: #333 !important
}
.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}
.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden
}
.pimgbox {
  height: 240px
}
.imgbox {
  height: 95px
}
.box {
  height: 100px
}
@media screen and (max-width:768px) {
/* 背景 */
  .pimgbox,
  .imgbox,
  .box {
      height: 73px;
      width: 135px
  }
  .pimgbox {
      height: 205px
  }
/* 2.0新增内容 */   
  .wb-min {
      display: none
  }
  #changeBgBox .wb-body::-webkit-scrollbar {
      display: none
  }
}
/* 公告栏 */
.ggl-logo {
  line-height: 22px;
  margin-right: 8px;
  transition: 0.3s;
  color: #ff0000;
  font-size: 1.45em
}
#ggl {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.86);
  color: var(--font-color);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  /* max-width: 1400px; */
  margin: 0 auto;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 3px rgb(0 107 255 / 34%);
}
.xianzhi {
  width: 100%
}
[data-theme="dark"] #ggl {
  background: rgba(0, 0, 0, 0.6) !important
}
/* 归档动画 */	
.recent-post-item {
  box-shadow: 0px 0px 4px 2px rgb(0 107 255 / 57%)
}
.recent-post-item:hover {
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-shadow: 0px 0px 4px 3px rgba(105, 47, 241, 0.89)
}
/* 阿里图标大小 */
@font-face {
  font-family: "iconfont";
  font-display: swap;
  src: url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.woff2?t=1667842809479') format('woff2'), url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.woff?t=1667842809479') format('woff'), url('//at.alicdn.com/t/c/font_3756163_yk2bt3u2pd.ttf?t=1667842809479') format('truetype')
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-liulanqi1:before {
  content: "\e610"
}
.icon-email:before {
  content: "\e60b"
}
.icon-QQ:before {
  content: "\e667"
}
.icon-weixin:before {
  content: "\e607"
}
.icon-douyin:before {
  content: "\e604"
}
/* 側邊欄個人信息卡片動態漸變色 */						
#aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 4s ease infinite;
  -moz-animation: Gradient 4s ease infinite;
  animation: Gradient 4s ease infinite !important;
  border-radius: 40px;
  border: #000 9px solid;
  padding: 0 14px 8px;
  height: 550px
}
#aside-content .card-info .card-info-social-icons {
  margin: 6px 0 -6px;
  position: relative;
  background-color: #00000026;
  border-radius: 12px;
  margin-bottom: 10px
}
#aside-content .card-info .card-info-data {
  margin: 14px 0 11px
}
@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
/* 個人信息Follow me按鈕 */								 
#aside-content>.card-widget.card-info>#card-info-btn {
  border-radius: 8px;
  height: 135px;
  background-image: url(https://cdn3.tianli0.top/npm/plasx@1.0.3/img/xka.webp);
  background-position: 50% 50%;
  background-repeat: repeat;
  box-shadow: inset 3px 4px 3px 1px rgb(0 0 0 / 40%)
}
[data-theme="dark"] #aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg, #635c4f, #655956, #456162, #4e4e62, #5f4e5d);
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important
}
/* 手机底部 */
.home-indicator {
  position: relative;
  width: 108px;
  margin: auto;
  height: 6px;
  background-color: var(--recent-post-bgcolor);
  border-radius: 3px
}
/* 手机顶部 */
.home-indicatordin {
  position: relative;
  width: 108px;
  margin: auto;
  height: 6px;
  background-color: var(--recent-post-bgcolor);
  border-radius: 3px
}
.fakaozuo {
  text-align: left
}
.status-bar {
  position: relative;
  display: flex;
  height: 20px;
  margin-bottom: 31px;
  justify-content: space-between;
  font-size: 1.2em
}
#camera {
  width: 18px;
  height: 18px;
  border: solid 7px #232323;
  border-radius: 50%;
  margin: 5px 10px 0px 15%;
  box-shadow: inset 1px 1px 2px 1px rgb(0 0 0 / 50%)
}
.xiayi {
  padding: 5px
}
.biaotou {
  border-radius: 12px;
  width: 76px;
  background-color: rgb(156 156 156 / 53%);
  transition: .3s;
  margin: 0 10px
}
.biaotou:hover {
  background-color: rgba(0, 0, 0, 0.411)
}
/* 修改标签栏 */
/* 归档、标签、分类页 */
#archive,
#tag,
#category {
  background: var(--recent-post-bgcolor);
  padding: 25px 10px
}
.article-sort-title {
  margin-top: 30px;
  margin-bottom: 20px
}
.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
  content: none
}
.article-sort .year {
  width: 100% !important;
  border-bottom: dashed 5px #1688c9;
  font-size: 26px;
  margin-top: 20px
}
.article-sort {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
  padding: 0
}
.article-sort-item:not(.year) {
  padding: 8px 10px;
  width: calc(50% - 0.8rem);
  margin: 0.4rem;
  border: 2px solid #1688c9;
  border-radius: 15px;
  background: var(--card-bg);
  transition: 0.5s;
  height: 120px;
  box-shadow: 0px 0px 3px 2px rgb(0 31 40 / 53%);
  color: rgb(231, 231, 231)
}
.article-sort-item-a {
  position: absolute;
  width: 100%;
  height: 100%
}
.article-sort-item-img {
  transition: 0.5s;
  height: 90px;
  width: 140px
}
.article-sort-item>a>img {
  border-radius: 15px
}
.article-sort-item-title {
  font-size: 22px;
  padding-left: 10px;
  margin: 10px 0;
  line-height: 25px;
  text-overflow: ellipsis
}
.article-sort-item-title:hover {
  transform: none
}
.article-sort-meta {
  height: max-content;
  position: relative
}
.article-sort-meta>.article-meta-wrap {
  float: left
}
.article-sort-meta>.article-sort-item-time {
  float: right
}
.article-sort-item-categories,
.article-sort-item-tags {
  margin: 0 3px;
  padding: 5px 8px;
  border-radius: 25px;
  border: 1px solid var(--dark-grey);
  font-size: 12px;
  transition: 0.5s
}
.article-sort-item-info>div:not(.article-sort-meta) {
  display: flex
}
.article-sort-description,
.article-sort-item>i {
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s
}
.article-sort-description {
  width: 0;
  height: 59px;
  vertical-align: middle;
  margin: 5px 10px 0 15px;
  text-overflow: ellipsis
}
.article-sort-item:hover:not(.year) {
  background-color: #13a6ba;
  box-shadow: 0 0 10px #1688c9
}
.article-sort-item:hover:not(.year) {
  background-color: #13a6ba;
  box-shadow: 0 0 10px #1688c9
}
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
  width: auto;
  opacity: 1
}
.article-sort-item:hover:not(.year) .article-sort-description {
  width: auto
}
.article-sort-item:hover:not(.year) .article-sort-item-img {
  transition: 0.5s;
  width: 0
}
.article-sort-item:hover:not(.year) .article-sort-item-title {
  color: var(--ichika-font-white) !important
}
.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
  color: var(--ichika-light-grey) !important
}
.article-sort-item:hover:not(.year) .article-sort-item-categories {
  border: 1.5px solid var(--ichika-green)
}
.article-sort-item:hover:not(.year) .article-sort-item-tags {
  border: 1.5px solid var(--ichika-purple)
}
.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
  background: var(--ichika-green);
  box-shadow: 0 0 5px var(--ichika-green)
}
.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
  background: var(--ichika-purple);
  box-shadow: 0 0 5px var(--ichika-purple)
}
@media screen and (max-width:768px) {
  .article-sort-item:not(.year) {
      width: 100%
  }
  .article-sort-meta>.article-meta-wrap {
      display: none
  }
  .article-sort-item-title {
      font-size: 16px
  }
  .article-sort-item-img {
      width: 90px
  }
}
/* 设置文字内容 :qq显示的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧'
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧'
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗'
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block
}
/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
/* 先隐藏起来 */
display: none;
/* 绝对定位 */
position: absolute;
/* 向上移动60像素 */
top: -60px;
/* 文字强制不换行，防止left:50%导致的文字换行 */
white-space: nowrap;
/* 圆角 */
border-radius: 10px;
/* 距离左边50% */
left: 50%;
/* 然后再向左边挪动自身的一半，即可实现居中 */
transform: translate(-50%);
/* 填充 */
padding: 14px 18px;
background: #444;
color: #fff;
}
/* 小角标 */		   
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
/* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */										
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px)
}
/* 评论框 */
#twikoo .tk-content {
  background: rgb(235 235 235 / 60%);
  box-shadow: inset 0px 0px 3px 1px rgb(0 107 255 / 19%);
  padding: 10px 15px;
  border-radius: 10px
}
#twikoo .tk-content:hover {
  background: rgb(226 252 255 / 60%);
  box-shadow: inset 0px 0px 3px 1px rgb(0 107 255 / 47%);
  padding: 10px 15px;
  border-radius: 10px
}
  /* 文章目录模糊 */
  #aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
  }
  [data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
  }
  #aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
  }
  #aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
  }
  #aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
  }
  #aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
  }
  #aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
  }
  /* 网页最大宽度 */
  .layout.hide-aside {
    max-width: 1400px;
  }
/* 消息弹窗 */
.snackbar-container {
    background: var(--heo-main) !important;
    color: var(--heo-white) !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center !important;
    max-width: none !important;
    min-width: 100% !important;
    margin: 0px !important;
    left: 0px !important;
    height: 60px !important;
    transform: none !important;
  }
  .snackbar-container p {
    font-weight: bold !important;
    text-align: center !important;
    font-size: 0.8rem !important;
    display: flex !important;
    justify-content: center !important;
  }
  .snackbar-container .action {
    color: var(--heo-white) !important;
    padding: 4px 6px !important;
    font-weight: bold;
    border-radius: 8px !important;
    transition: 0.3s;
    border: var(--style-border) !important;
  }
  .snackbar-container .action:hover {
    color: var(--heo-main) !important;
    background: var(--heo-white) !important;
  }
  .snackbar-container::after {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--heo-white);
    opacity: 0.1;
    content: "";
    animation: snackbar-progress 2s linear forwards;
    pointer-events: none;
  }
  @keyframes snackbar-progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* 搜索背景模糊 */
  #search-mask {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: var(--heo-maskbg);
  }
  /* 最新文章侧边栏悬浮 */
  #aside-content .aside-list>.aside-list-item {
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 12px;
    transition: 0.3s;
    margin: 4px 0;
    cursor: pointer;
  }
  @media screen and (min-width: 1300px) {
    #aside-content .aside-list>.aside-list-item:hover {
      transform: scale(1.03);
    }
    #aside-content .aside-list>.aside-list-item:active {
      transform: scale(0.97);
    }
  }
  #aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
    transform: scale(1);
  }
  #aside-content .aside-list>.aside-list-item:not(:last-child) {
    border-bottom: 0px dashed var(--heo-background) !important;
  }
  #aside-content .aside-list>.aside-list-item .thumbnail {
    border-radius: 8px;
    border: var(--style-border);
  }
  #aside-content .aside-list>.aside-list-item:hover {
    background: var(--heo-main);
    color: var(--heo-white);
    transition: 0.3s;
    box-shadow: var(--heo-shadow-main);
  }
  #aside-content .aside-list>.aside-list-item:hover a {
    color: var(--heo-white) !important;
  }
  /* 侧边栏按钮文字 */
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border);
  }
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
    width: auto;
  }
  #aside-content .card-archives ul.card-archive-list,
  #aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.1rem;
    line-height: 0.9;
    font-weight: bold;
  }
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
    width: fit-content;
    margin-left: 4px;
  }
  .card-archive-list-date {
    font-size: 14px;
    opacity: 0.6;
  }
  li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%;
  }
  .card-category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-category-list-item {
    width: 45%;
  }
  .card-category-list-count {
    display: none !important;
  }
  .card-category-list-name {
    width: 100% !important;
    text-align: center;
  }
  /* 微信公众号 */
  #aside-content .card-widget#card-wechat {
    background: #45704d0d;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    height: 110px;
  }
  /* 微信公众号翻转 */
  #flip-wrapper {
    position: relative;
    width: 235px;
    height: 110px;
    z-index: 1;
  }
  /* this need to be here - i dont know why?*/
  #flip-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  #flip-content {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
  }
  #flip-wrapper:hover #flip-content {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url(https://s2.loli.net/2022/11/16/NThS2Y7fjuxtAXk.webp) center center no-repeat;
    background-size: 100%;
  }
  .back.face {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    background: url(https://s2.loli.net/2022/11/16/QnUNS8rvAXgV5dq.webp) center center no-repeat;
    background-size: 100%;
  }
  /* 标签云卡片 */
  #aside-content .card-tag-cloud a {
    color: var(--heo-fontcolor) !important;
    font-size: 0.8rem;
    border-radius: 8px;
  }
  #aside-content .card-tag-cloud a:hover {
    background: var(--heo-theme);
    color: var(--heo-white) !important;
    box-shadow: var(--heo-shadow-theme);
  }
  @media screen and (min-width: 1300px) {
    #aside-content .card-tag-cloud a:hover {
      transform: scale(1.03);
    }
    #aside-content .card-tag-cloud a:active {
      transform: scale(0.97);
    }
  }
  /* 时间轴卡片 */
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    color: var(--heo-white);
    background-color: var(--heo-theme);
    box-shadow: var(--heo-shadow-theme);
    border-radius: 8px;
    padding: 0.15rem 0.5rem;
    border: var(--style-border-hover);
  }
  @media screen and (min-width: 1300px) {
    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
      transform: scale(1.03);
    }
    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
      transform: scale(0.97);
    }
  }
  /* 主页百叶窗 */
.layout#content-inner  {
    max-width: 1400px;
}
.author-content-item {
  width: 53%;
  border-radius: 12px;
  background: var(--recent-post-bgcolor);
  border: var(--style-border-always);
  box-shadow: var(--recent-post-bgcolor);
  position: relative;
  padding: 1rem 1rem;
  overflow: hidden;
}
.touying {
  box-shadow: 0px 0px 4px 3px rgba(40, 129, 255, 0.608);
}
.touying:hover {
  box-shadow: 0px 0px 4px 3px rgb(105 47 241 / 89%);
}
.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

/* 代码展开图标 */
#article-container .code-expand-btn:hover {
  background: #333c3e;
}
#article-container .code-expand-btn:hover i {
  color: #333c3e;
}
#article-container .code-expand-btn i {
  color: rgb(0 255 255);
}
/* 文章中的加粗文本颜色 */
b,
strong {
  color: var(--heo-lighttext);
}
/* 文章中的超链接 */
#article-container a:not(.headerlink):not(.pimgbox):not(.imgbox):not(.box):not(.cf-friends-link):not(.tag-Link):not(.pblink)  {
  text-decoration: none;
  border-bottom: 2px solid var(--heo-lighttext);
  color: var(--heo-fontcolor);
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  padding: 0 .2em;
  font-weight: 500;
}
#article-container a:not(.headerlink):not(.pimgbox):not(.imgbox):not(.box):not(.cf-friends-link):not(.pblink):hover {
  text-decoration: none;
  border-bottom: 2px solid var(--heo-none);
  color: var(--heo-white);
  background: var(--heo-main);
  border-radius: .25em;
  box-shadow: var(--heo-shadow-main);
}
[data-theme=light] {
  --plasx-anheiwz: 350px -205px 229px 59px rgb(50 178 255 / 90%) inset;
}
[data-theme=dark] {
  --plasx-anheiwz: 154px -45px 429px 149px rgb(7 0 26 / 81%) inset;
}
/* 首页最新文章 */
.news li {
  display: flex;
  width: 100%;
  float: left;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: space-around;
}
.news {
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
}
.news a {
  letter-spacing: 2px;
  float: left;
  text-align: left;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  font-size: 14px;
  text-indent: 10px;
  width: 100%;
  color:var(--font-color);
}
.news a:hover {
  color:var(--heo-theme) !important;
}
.news span {
  text-align: right;
  font-size: 14px;
  color: rgb(196, 90, 90);
  width: 10%;
}
.news>.fa-link:before {
  color: rgb(0 111 255 / 53%);
}
.notice-logo2{
  color: rgb(203, 37, 37); 
}
.div-card2 {
  width: 45%;
  height: 360px;
  border-radius: 10px;
  background-color: var(--recent-post-bgcolor);
  color: var(--font-color);
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width:900px) {
  .tags {
      display: none
  }
}
.tagsbq {
  background: var(--heo-zhuti) !important;
}
#aside-content>.card-widget.card-info {
  height: 570px !important;
}
/* 版权cc描边 */
#post .post-copyright {
  border: 2px dashed var(--font-color);
  border-radius: 8px;
  box-shadow: 0px 0px 7px 0px rgba(255, 123, 0, 0.66);
}
/* @font-face {
font-family: ZhuZiAYuanJWD;
src: url(https://npm.elemecdn.com/akiblog@1.0.0/fontsdest/ZhuZiAWan.ttf);
font-display: swap;
font-weight: lighter
} */
/* 分类 */
#page .category-lists .category-list .category-list-item {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  width: 48%;
  font-weight: 700;
  margin: 0 0.5% 2% 0.5%;
  border-radius: 8px;
  -webkit-box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
  box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
}
@media (max-width: 640px) {
  #page .category-lists .category-list .category-list-item {
    width: 95%;
  }
}
#page .category-lists .category-list .category-list-item::before {
  display: none;
}
#page .category-lists .category-list .category-list-item .category-list-link {
  color: var(--white);
  font-size: 1.5rem;
  margin-left: 0.4rem;
}
#page
  .category-lists
  .category-list
  .category-list-item
  .category-list-link::after {
  content: "";
  position: relative;
  width: 0;
  bottom: 0;
  display: block;
  height: 3px;
  border-radius: 3px;
  background: var(--white);
}
#page
  .category-lists
  .category-list
  .category-list-item
  .category-list-link:hover::after {
  width: 60%;
  left: 1%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}
#page .category-lists .category-list .category-list-item .category-list-count {
  color: var(--white);
  font-size: 1.3rem;
}
#page
  .category-lists
  .category-list
  .category-list-item
  .category-list-count::before {
  content: "\f02d";
  padding-right: 15px;
  font-family: "Font Awesome 6 Free";
}
#page
  .category-lists
  .category-list
  .category-list-item
  .category-list-count::after {
  display: none;
}
#page
  .category-lists
  .category-list
  li.category-list-item
  a.category-list-link::before {
  position: absolute;
  font-size: 4rem;
  line-height: 4rem;
  top: 1rem;
  right: 1rem;
  opacity: 0.7;
  box-shadow: 0 3px 8px 6px rgb(85 85 85 / 6%);
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}
#page
  .category-lists
  .category-list
  li.category-list-item
  a.category-list-link:hover::before {
  opacity: 0.9;
  transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
}
#page .category-lists .category-list li.category-list-item:nth-child(1) {
  background: -webkit-linear-gradient(left, #364f6b, #3fc1c9);
  background: -moz-linear-gradient(left, #364f6b, #3fc1c9);
  background: -o-linear-gradient(left, #364f6b, #3fc1c9);
  background: -ms-linear-gradient(left, #364f6b, #3fc1c9);
  background: linear-gradient(to right, #364f6b, #3fc1c9);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(1)
  a.category-list-link::before {
  content: "🖥️";
}
#page .category-lists .category-list li.category-list-item:nth-child(2) {
  background: -webkit-linear-gradient(left, #ba52ed, #ff99fe);
  background: -moz-linear-gradient(left, #ba52ed, #ff99fe);
  background: -o-linear-gradient(left, #ba52ed, #ff99fe);
  background: -ms-linear-gradient(left, #ba52ed, #ff99fe);
  background: linear-gradient(to right, #ba52ed, #ff99fe);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(2)
  a.category-list-link::before {
  content: "📚";
}
#page .category-lists .category-list li.category-list-item:nth-child(3) {
  background: -webkit-linear-gradient(left, #6639a6, #3490de);
  background: -moz-linear-gradient(left, #6639a6, #3490de);
  background: -o-linear-gradient(left, #6639a6, #3490de);
  background: -ms-linear-gradient(left, #6639a6, #3490de);
  background: linear-gradient(to right, #6639a6, #3490de);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(3)
  a.category-list-link::before {
  content: "💬";
}
#page .category-lists .category-list li.category-list-item:nth-child(4) {
  background: -webkit-linear-gradient(right, #38ef7d, #11998e);
  background: -moz-linear-gradient(right, #38ef7d, #11998e);
  background: -o-linear-gradient(right, #38ef7d, #11998e);
  background: -ms-linear-gradient(right, #38ef7d, #11998e);
  background: linear-gradient(to left, #38ef7d, #11998e);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(4)
  a.category-list-link::before {
  content: "🌐";
}
#page .category-lists .category-list li.category-list-item:nth-child(5) {
  background: -webkit-linear-gradient(left, #b91d73, #f953c6);
  background: -moz-linear-gradient(left, #b91d73, #f953c6);
  background: -o-linear-gradient(left, #b91d73, #f953c6);
  background: -ms-linear-gradient(left, #b91d73, #f953c6);
  background: linear-gradient(to right, #b91d73, #f953c6);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(5)
  a.category-list-link::before {
  content: "📝";
}
#page .category-lists .category-list li.category-list-item:nth-child(6) {
  background: -webkit-linear-gradient(left, #f12711, #f5af19);
  background: -moz-linear-gradient(left, #f12711, #f5af19);
  background: -o-linear-gradient(left, #f12711, #f5af19);
  background: -ms-linear-gradient(left, #f12711, #f5af19);
  background: linear-gradient(to right, #f12711, #f5af19);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(6)
  a.category-list-link::before {
  content: "🎨";
}
#page .category-lists .category-list li.category-list-item:nth-child(7) {
  background: -webkit-linear-gradient(left, #009ad6, #1b315e);
  background: -moz-linear-gradient(left, #009ad6, #1b315e);
  background: -o-linear-gradient(left, #009ad6, #1b315e);
  background: -ms-linear-gradient(left, #009ad6, #1b315e);
  background: linear-gradient(to right, #009ad6, #1b315e);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(7)
  a.category-list-link::before {
  content: "📖";
}
#page .category-lists .category-list li.category-list-item:nth-child(8) {
  background: -webkit-linear-gradient(left, #ef5b9c, #f5af19);
  background: -moz-linear-gradient(left, #ef5b9c, #f5af19);
  background: -o-linear-gradient(left, #ef5b9c, #f5af19);
  background: -ms-linear-gradient(left, #ef5b9c, #f5af19);
  background: linear-gradient(to right, #ef5b9c, #f5af19);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(8)
  a.category-list-link::before {
  content: "🎭";
}
#page .category-lists .category-list li.category-list-item:nth-child(9) {
  background: -webkit-linear-gradient(left, #5b85ef, #19f536);
  background: -moz-linear-gradient(left, #5b85ef, #19f536);
  background: -o-linear-gradient(left, #5b85ef, #19f536);
  background: -ms-linear-gradient(left, #5b85ef, #19f536);
  background: linear-gradient(to right, #5b85ef, #19f536);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(9)
  a.category-list-link::before {
  content: "🎓";
}
#page .category-lists .category-list li.category-list-item:nth-child(10) {
  background: -webkit-linear-gradient(left, #952f5b, #e0a82f);
  background: -moz-linear-gradient(left, #952f5b, #e0a82f);
  background: -o-linear-gradient(left, #952f5b, #e0a82f);
  background: -ms-linear-gradient(left, #952f5b, #e0a82f);
  background: linear-gradient(to right, #952f5b, #e0a82f);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(10)
  a.category-list-link::before {
  content: "🥽";
}
#page .category-lists .category-list li.category-list-item:nth-child(11) {
  background: -webkit-linear-gradient(left, #5bbbef, #f519ee);
  background: -moz-linear-gradient(left, #5bbbef, #f519ee);
  background: -o-linear-gradient(left, #5bbbef, #f519ee);
  background: -ms-linear-gradient(left, #5bbbef, #f519ee);
  background: linear-gradient(to right, #5bbbef, #f519ee);
}
#page
  .category-lists
  .category-list
  li.category-list-item:nth-child(11)
  a.category-list-link::before {
  content: "🧭";
}
/* 文章中暗黑模式投影 */
#article-container{
  text-shadow: var(--plasx-touyin);
}
[data-theme=light] {
  --plasx-touyin: nonex;
}
[data-theme=dark] {
  --plasx-touyin: 0px 0px 2px #0000005e;
}
.linkdh{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}
/* 首页分类条展示 */
#category-bar{
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--heo-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
}
@media screen and (max-width: 768px){
  #category-bar{
    border-radius: 0;
  }
}
#category #category-bar{
  padding: 0;
  border: none;
}
#category a.category-bar-item.select a{
  display: none;
}
.category-in-bar{
  display: flex;
  white-space: nowrap;
}
.category-in-bar-tips{
  margin-right: 1rem;
}
.category-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
}
.category-bar-items::-webkit-scrollbar{
  display: none;
}
.category-bar-item a{
  padding: 0.3rem 1rem;
  margin: 0 0.5rem;
  font-weight: bold;
  border-radius: 12px;
}
.category-bar-item:hover a{
  background: var(--heo-main);
  color: var(--heo-white);
}
.category-bar-item.select a {
  background: var(--heo-main);
  color: var(--heo-white);
  border-radius: 12px;
}
.category-bar-more{
  margin-left: 1rem;
  font-weight: bold;
}
:root{
  --heo-white: #fff;
  --heo-black: #000;
  --heo-none: rgba(0,0,0,0);
  --heo-gray: #999999;
  --heo-yellow: #ffc93e;
  --heo-main: var(--heo-theme);
  --heo-main-op: var(--heo-theme-op);
  --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
  --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
  --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
  --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
  --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
  --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
  --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
  --heo-shadow-green: 0 8px 12px -3px #87ee7936;
  --heo-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
  --style-border: 1px solid var(--heo-card-border);
  --style-border-hover: 1px solid var(--heo-theme);
}
::selection {
  background: var(--heo-fontcolor);
  color: var(--heo-background);
}
[data-theme=light] {
  --heo-theme: #425AEF;
  --heo-theme-op: #4259ef23;
  --heo-blue: #425AEF;
  --heo-red: #D8213C;
  --heo-pink: #FF7C7C;
  --heo-green: #57bd6a;
  --heo-fontcolor: #363636;
  --heo-background: #f7f9fe;
  --heo-reverse: #000;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
  --heo-hovertext: var(--heo-theme);
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: var(--heo-main);
  --heo-secondtext: rgba(60, 60, 67, 0.6);
  --heo-scrollbar: rgba(60, 60, 67, 0.4);
  --heo-card-btn-bg: #edf0f7;
  --heo-post-blockquote-bg: #fafcff;
  --heo-post-tabs-bg: #f2f5f8;
  --heo-secondbg: #edf0f7;
  --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --heo-card-bg: #fff;
  --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-card-border: #e3e8f7;
}
[data-theme=dark] {
  --heo-theme: #0084FF;
  --heo-theme-op: #0084FF23;
  --heo-blue: #0084FF;
  --heo-red: #FF3842;
  --heo-pink: #FF7C7C;
  --heo-green: #57bd6a;
  --heo-fontcolor: #F7F7FA;
  --heo-background: #18171d;
  --heo-reverse: #fff;
  --heo-maskbg: rgba(0,0,0, 0.6);
  --heo-maskbgdeep: rgba(0,0,0, 0.85);
  --heo-hovertext: #0A84FF;
  --heo-ahoverbg: #fff;
  --heo-lighttext: #f2b94b;
  --heo-secondtext: #a1a2b8;
  --heo-scrollbar: rgba(200, 200, 223, 0.4);
  --heo-card-btn-bg: #30343f;
  --heo-post-blockquote-bg: #000;
  --heo-post-tabs-bg: #121212;
  --heo-secondbg: #30343f;
  --heo-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --heo-card-bg: #1d1b26;
  --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-card-border: #42444a;
}
@media screen and (max-width: 768px){
  :root{
    --style-border: 0px solid var(--heo-card-border);
    --style-border-hover: 0px solid var(--heo-theme);
  }
}
/* tag-link导航合并 */
#article-container .tag-Link {
  background: var(--heo-secondbg);
  border-radius: 8px!important;
  display: flex;
  border: var(--style-border);
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-width: 1px!important;
  margin-top: 1rem;
}
#article-container .tag-Link:hover {
  border: var(--style-border-hover);
}
#article-container .tag-Link .tag-link-tips {
  border-bottom: var(--style-border);
  padding-bottom: 4px;
  font-size: 0.6rem;
  color: var(--heo-gray);
  font-weight: normal;
}
#article-container .tag-Link:hover .tag-link-tips {
  color: var(--heo-white);
}
#article-container .tag-Link .tag-link-bottom {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-around;
}
#article-container .tag-Link .tag-link-bottom .tag-link-left {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-size: cover;
}
#article-container .tag-Link .tag-link-bottom .tag-link-right {
  margin-left: 1rem;
}
#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-title {
  font-size: 1rem;
  line-height: 1.2;
}
#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-sitename {
  font-size: 0.7rem;
  color: var(--heo-gray);
  font-weight: normal;
  margin-top: 4px;
}
#article-container .tag-Link:hover .tag-link-bottom .tag-link-right .tag-link-sitename {
  color: var(--heo-white);
}
#article-container .tag-Link .tag-link-bottom i {
  margin-left: auto;
}
/* 小风车旋转 */
#article-container.post-content h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    -webkit-animation: avatar_turn_around 1s linear infinite;
    -moz-animation: avatar_turn_around 1s linear infinite;
    -o-animation: avatar_turn_around 1s linear infinite;
    -ms-animation: avatar_turn_around 1s linear infinite;
    animation: avatar_turn_around 1s linear infinite;
}
/* 幻灯片 */

.carousel {
  --carousel-width: 517px;
  --carousel-height: 326px;
  --navdots-height: 16px;
  --active-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--carousel-width);
  height: var(--carousel-height);
}
.carousel .slides {
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  list-style-type: none;
}
.carousel .slides img {
  width: var(--carousel-width);
  height: calc(var(--carousel-height) - var(--navdots-height));
  scroll-snap-align: start;
}
.carousel .nav-dots {
  display: flex;
  justify-content: space-around;
  height: var(--navdots-height);
  padding: 10px 0 0 0;
  margin: 0;
  list-style-type: none;
}
.carousel .nav-dots .dot a {
  position: relative;
  display: block;
  width: calc(var(--navdots-height) * 6);
  height: 12px;
}
.carousel .nav-dots .dot a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--heo-zhuti);
}
.carousel .nav-dots .dot a:hover::before {
  background: rgba(255, 106, 0, 0.4);
}
.carousel .nav-dots .dot a.active::before {
  background: rgba(0, 47, 255, 0.6);
}
.carousel .nav-arrows {
  margin: 0;
  list-style-type: none;
}
.carousel .nav-arrows li {
  position: absolute;
  bottom: calc(50%);
  width: 2em;
  height: 2em;
  border: 5px solid var(--heo-theme);
  cursor: pointer;
}
.carousel .nav-arrows li.arrow-left {
  left: 20px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
  transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
}
.carousel .nav-arrows li.arrow-right {
  right: 20px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
}
.carousel .nav-arrows li.arrow-left::before {
  position: absolute;
  content: "";
  top: calc(-13%);
  left: calc(-15%);
  width: inherit;
  height: inherit;
  border: inherit;
}
.carousel .nav-arrows li.arrow-left:hover {
  border-left-color: var(--heo-zhuti);
  border-top-color: var(--heo-zhuti);
}
.carousel .nav-arrows li.arrow-left:hover::before {
  border-left-color: var(--heo-zhuti);
  border-top-color: var(--heo-zhuti);
  animation: fadeToLeft 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.carousel .nav-arrows li.arrow-right::before {
  position: absolute;
  content: "";
  top: calc(-13%);
  left: calc(-15%);
  width: inherit;
  height: inherit;
  border: inherit;
}
.carousel .nav-arrows li.arrow-right:hover {
  border-right-color: var(--heo-zhuti);
  border-top-color: var(--heo-zhuti);
}
.carousel .nav-arrows li.arrow-right:hover::before {
  border-right-color: var(--heo-zhuti);
  border-top-color: var(--heo-zhuti);
  animation: fadeToRight 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes fadeToLeft {
  5% {
      transform: translate(10%, 10%);
  }
  to {
      transform: translate(-100%, -100%);
      opacity: 0;
  }
}
@keyframes fadeToRight {
  5% {
      transform: translate(-10%, 10%);
  }
  to {
      transform: translate(100%, -100%);
      opacity: 0;
  }
}
